
{% load django_bootstrap5 %}


{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}

{% bootstrap_messages %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'extra_css.css' %}">
</head>


<body style="background-color:#F7F0F5;">
    <nav class="navbar navbar-expand-lg sticky-top" style="background-color: #DECBB7;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'homepage:homepage' %}">TODO</a>
        </div>
        <div class="container-fluid justify-content-end">
            <div class="navbar-nav text-center">
                <a class='nav-link' href="{% url 'account:profile_info' %}">аккаунт</a>
            </div>
            <div class="navbar-nav">
                <a class='nav-link' href="{% url 'friends:friends_search' %}">друзья</a>
            </div>

        </div>
    </nav>


    {% block content %}
    {% endblock %}
</body>
</html>