{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% load static %}

{% block title %}Поиск друзей{% endblock %}

{% block content %}

<div class="row">
    
    <div class="col-4 gy-5" style="margin-left: 5rem;">
        <h5>Ваши друзья</h5>
        {% for friend in user_friends %}
        <div class="card" style="height: 10rem; margin-bottom: 2rem;">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if friend.profile.photo %}
                    <img src="{{ friend.profile.photo.url }}" class="img-fluid rounded-start" style="height: 10rem;">
                    {% else %}
                    <img src="{% static 'user_placeholder.png' %}" class="img-fluid rounded-start" style="height: 10rem;">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="title">
                            <a href="{{ friend.get_absolute_url }}" class="btn btn-secondary">{{ friend.username }}</a>
                        </h5>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>


    <div class="col-6 offset-md-1 gy-5">
        <form method="post">
            {% csrf_token %}

            {% bootstrap_form form layout='horizontal' %}
            {% bootstrap_button "поиск" button_type="submit" button_class="btn-primary" %}
        </form>
        <div class="d-flex justify-content-center">

                {% for user in user_queryset %}
                <div class="card" style="width: 18rem; margin: 2rem;">
                    {% if user.profile.photo %}
                    <img src="{{ user.profile.photo.url }}" class="card-img-top">
                    {% else %}
                    <img src="{% static 'user_placeholder.png' %}" class="img-fluid">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">
                            <a href="{{ user.get_absolute_url }}" class="btn btn-secondary">{{ user.username }}</a>
                        </p>
                        
                    </div>
                </div>
                {% endfor %}   


        </div>       
        

    </div>

</div>



{% endblock %}