{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}Изменить задачу{% endblock %}

{% block content %}

<div class="contaner text-center">
    <h1 style="margin: 3rem;">
        Измените ToDO
    </h1>
</div>


<div class="col-8 offset-2">
    <div class="card shadow p-3 mb-5 " style="background-color: #DECBB7; border-color: #DECBB7;">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col mt-1">
                        {% bootstrap_label "Название" label_for="name" label_class='form-label fw-bold' %}
                        {% bootstrap_field form.name show_label=False  %}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        {% bootstrap_label "Описание" label_for="description" label_class='form-label fw-bold' %}      
                        {% bootstrap_field form.description show_label=False %}
                    </div>
                </div>
                <div class="row text-center mt-4">
                    {% bootstrap_form_errors form layout='inline' %}
                </div>
                <div class="row text-center">
                    <div class="col mt-4">
                        {% bootstrap_button "создать" button_type="submit" size='lg' extra_classes='form-btn-primary' %}
                    </div>    
                </div>
            </form>
        </div>
    </div>
</div>




{% endblock %}