{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}Добавить задачу{% endblock %}

{% block content %}

<div class="row">
    <div class="col-10 offset-md-1 gy-5">

        <div class="card"> 
            <div class="card-body">
                <div class="card-title">
                    <h1>{{ current_todo.name }}</h1>
                </div>
                <div class="card-text" style="margin-bottom: 2rem;">{{ current_todo.description }}</div>
                <a href="{% url 'todos:todo_del' current_todo.pk current_todo.slug %}" class="btn btn-secondary btn-md" style="margin-bottom: 3rem;">удалить</a>
                <a href="{% url 'todos:todo_edit' current_todo.pk current_todo.slug %}" class="btn btn-primary btn-md" style="margin-bottom: 3rem;">изменить</a>

                {% if  not current_todo.report %}
                <a href="{% url 'todos:report_add' current_todo.pk current_todo.slug %}" class="btn btn-primary btn-md"style="margin-bottom: 3rem;" >создать отчет</a>
            </div>
                {% else %}
                <div class="card-footer">
                    <h1>Отчет ToDo</h1>
                    <h5>{{ current_todo.report.description }}</h5>
                    <a href="{% url 'todos:report_edit' current_todo.pk current_todo.slug %}" class="btn btn-primary btn-md">изменить отчет</a>
                </div>
                {% endif %}
                
            </div>
        </div>

    </div>
</div>



{% endblock %}