{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}Изменить задачу{% endblock %}

{% block content %}

<div class="container-fluid text-center">
    <div class="row">
        <h1>Измениете ToDO</h1>
    </div>

    <div class="row text-center">
        <div class="col-6 offset-md-3 gy-4">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% bootstrap_field form.name layout="horizontal" %}
                {% bootstrap_field form.description layout="horizontal" %}

                
                {% bootstrap_button "изменить" button_type="submit" button_class="btn-primary" %}
            </form>
        </div>
    </div>
    
    
</div>




{% endblock %}