{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}домашнаяя страница{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="d-flex flex-wrap justify-content-start">
            {% for todo in friends_todos %}
                    {% if todo.status == 'no_report' %}
                    <div class="card m-4" style="width: 20rem; height: 15rem; border-color: #A22522; ">
                        <div class="card-header fw-bold" style="background-color: #A22522;">
                    
                    {% elif todo.status == 'no_confirm' %}
                    <div class="card m-4" style="width: 20rem; height: 15rem; border-color: #033F63;">
                        <div class="card-header fw-bold" style="background-color: #033F63;">
                        
                    {% elif todo.status == 'confirmed' %}
                    <div class="card m-4" style="width: 20rem; height: 15rem; border-color: #104911;">
                        <div class="card-header fw-bold" style="background-color: #104911;">
                    {% endif %}
                                <a href="{{ todo.get_user_absolute_url }}" class="text-decoration-none" style="color: white;">{{ todo.user.username }}</a>
                        </div>
                        <div class="card-body" style="background-color: #ffffff;">
                            <h5 class="card-title">
                                <a href="{{ todo.get_absolute_url }}" class="text-decoration-none">{{ todo.name }}</a>
                            </h5>
                            <p class="card-text">{{ todo.description|truncatechars:100 }}</p>
                        </div>
                        <div class="card-footer text-muted">
                            {{ todo.publish_date }}
                        </div>
                    </div>
            {% empty %}
                <div class="d-flex flex-wrap">
                    <div class="col offset-3">
                        <div class="card m-4" style="width: 50rem; height: 40rem; border-color: #104911;">
                            <div class="card-header fw-bold" style="background-color: #104911;  height: 3rem; color: white;">system</div>
                            
                            <div class="card-body" style="background-color: #ffffff;">
                                <h1 class="card-title">
                                    У ваших друзей нет ToDO...
                                </h1>
                                <p class="card-text fs-2">Может <span><a href="{% url 'todos:friends_reminder' %}" class="text-decoration-none">напомнить</a></span> о создании задач на сегодня?</p>
                            </div>
                            <div class="card-footer text-muted">
                                {{ now }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="col-4">
            <div class="card m-4" style="border-color: black;">
                <div class="card-header fw-bold"><h4>Ваши ToDO на сегодня</h4></div>
                <ul class="list-group listgroup-flush">
                {% for todo in user_todos %}
                        <li class="list-group-item text-center">
                            <a href="{{ todo.get_abcolute_url }}" class="text-decoration-none" style="color: black;">
                                <h3 class="fw-normal fst-italic text-decoration-underline"> -{{ todo.name }}</h3>
                            </a>
                        </li>
                
                {% empty %}
                <div style="margin: 2rem;">
                    <h3 class="fw-normal" style="margin-left: 2 rem;">У вас нет ToDO на сегодня</h3>
                </div>   
                 
                {% endfor %}
                <div class="card-footer">
                    <a href="{% url 'todos:todo_add' %}" class="text-decoration-none">Создать еще?</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}