{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}Восстановления пароля{% endblock %}

{% block content %}

<div class="container">
    <div class="row text-center">
            <h1 class="mt-5 mb-4">Восстановление пароля</h1>
        </div>
    <div class="col-4 offset-md-4">
        
        
        <div class="card shadow p-3 mb-5 " style="background-color: #DECBB7; border-color: #DECBB7;">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col mt-1">
                            {% bootstrap_label "Почта привязанная к аккаунту" label_for="email" label_class='form-label fw-bold' %}
                            {% bootstrap_field form.email show_label=False  %}
                        </div>
                    </div>
                    <div class="row text-center mt-4">
                        {% bootstrap_form_errors form layout='inline' %}
                    </div>
                    <div class="row text-center">
                        <div class="col mt-3">
                            {% bootstrap_button "отправить мне письмо" button_type="submit" size='lg' extra_classes='form-btn-primary' %}
                        </div>    
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




{% endblock %}