{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}Восстановления пароля{% endblock %}

{% block content %}

<div class="container-fluid text-center">
    <div class="row">
        <h1>Введите email для восстановления пароля</h1>
    </div>

    <div class="row text-center">
        <div class="col-6 offset-md-3 gy-4">
            <form method="post">
                {% csrf_token %}

                {% bootstrap_form form %}
                
                {% bootstrap_button "отправить мне письмо" button_type="submit" button_class="btn-primary" %}
               
            </form>
        </div>
    </div>
    
    
</div>




{% endblock %}