{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}аккаунт{% endblock %}

{% block content %}

<div class="container">
    <div class="col-10 offset-md-1">
        <h1 class="offset-md-4 mt-5 mb-3">Изменение профиля</h1>
        <div class="card shadow p-3 mb-5 " style="background-color: #DECBB7; border-color: #DECBB7;">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col mt-1">
                            {% bootstrap_label "Логин" label_for="username" label_class='form-label fw-bold' %}
                            {% bootstrap_field form.username show_label=False  %}
                        </div>

                        <div class="col">
                            {% bootstrap_label "Почта" label_for="email" label_class='form-label fw-bold' %}
                            {% bootstrap_field form.email show_label=False %}
                        </div>

                        <div class="col">
                            {% bootstrap_label "Пол" label_for="sex" label_class='form-label fw-bold' %}
                            {% bootstrap_field form.sex show_label=False %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            {% bootstrap_label "Дата рождения" label_for="birthd" label_class='form-label fw-bold' %}
                            {% bootstrap_field form.birthd show_label=False %}
                        </div>

                        <div class="col">
                            {% bootstrap_label "Аватарка" label_for="photo" label_class='form-label fw-bold' %}
                            {% bootstrap_field form.photo show_label=False %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            {% bootstrap_label "О себе" label_for="preview" label_class='form-label fw-bold' %}
                            {% bootstrap_field form.preview show_label=False %}
                        </div>
                    </div>

                    <div class="row text-center mt-4">
                        {% bootstrap_form_errors form layout='inline' %}
                    </div>
                    <div class="row text-center">
                        <div class="col mt-4">
                            {% bootstrap_button "сохранить" button_type="submit" size='lg' extra_classes='form-btn-primary' %}
                        </div>    
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>




{% endblock %}