{% extends 'base.html' %}

{% load static %}

{% load django_bootstrap5 %}

{% block title %}аккаунт{% endblock %}

{% block content %}


<div class="container-fluid">
    <div class="row ">

        <div class="col-5 g-5 text-center">
            {% if not user.profile.photo %}
                <img src="{% static 'user_placeholder.png' %}" class="img-fluid" style="height: 28rem; margin-bottom: 2rem;">
            {% else %}
                <img src="{{ user.profile.photo.url }}" class="rounded img-fluid" style="height: 28rem; margin-bottom: 2rem;">
            {% endif %}
        </div>

        <div class="col-7 g-5"> 

            <div class="card" style="height: 28rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h1 class="card-title mt-4" style="margin-left: 3rem;">{{ user.username }}</h1>
                        </div>
                        <div class="col-6 text-end">
                            <a href="{% url 'account:reset_password_email' %}" class="btn btn-primary btn-lg" style="background-color: #DECBB7; border-color: #DECBB7; color: white;">изменить пароль</a>
                            <a href="{% url 'account:logout' %}" class="btn btn-primary btn-lg" style="background-color: #945022; border-color: #945022; color: white;">выйти</a>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col">
                            <div class="card-text" style="margin-left: 2rem;">
                                <h6 style="font-weight: 300;">
                                    Пол: {{ user.profile.sex }} Дата рождения: {{ user.profile.birthd }} Почта: {{ user.email }}
                                </h6>
                            </div> 
                        </div>
                    <div class="row">
                        <div class="col gy-3">
                            <div class="card-text" style="height: 11rem;">О себе: {{ user.profile.preview }}</div>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col g-5">
                            <a href="{% url 'account:profile_info_edit' %}" class="btn btn-primary btn-lg" style="background-color: #DECBB7; border-color: #DECBB7; color: white;">именить профиль</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-1">
        <h1 class="ml-2">Ваши ToDO</h1>
    </div>
    <div class="col-4 offset-3">
        <a href="{% url 'todos:todo_add' %}" class="text-decoration-none">
        <h1>Добaвить еще?</h1></a>
    </div>
</div>
<div class="d-flex flex-wrap justify-content-start">
    {% for todo in user_todos %}
            {% if todo.status == 'no_report' %}
            <div class="card m-4" style="width: 25rem; height: 20rem; border-color: #A22522;">
                <div class="card-header fw-bold" style="background-color: #A22522; height: 3rem;">
            
            {% elif todo.status == 'no_confirm' %}
            <div class="card m-4" style="width: 25rem; height: 20rem; border-color: #033F63;">
                <div class="card-header fw-bold" style="background-color: #033F63;  height: 3rem;">
                
            {% elif todo.status == 'confirmed' %}
            <div class="card m-4" style="width: 25rem; height: 20rem; border-color: #104911;">
                <div class="card-header fw-bold" style="background-color: #104911;  height: 3rem;">
            {% endif %}
                </div>
                <div class="card-body" style="background-color: #ffffff;">
                    <h5 class="card-title">
                        <a href="{{ todo.get_absolute_url }}" class="text-decoration-none">{{ todo.name }}</a>
                    </h5>
                    <p class="card-text">{{ todo.description|truncatechars:100 }}</p>
                </div>
                <div class="card-footer text-muted">
                    {{ todo.publish_date }}
                </div>
            </div>
    {% empty %}
    <h1>У ваших друзей нет активных ToDo</h1>
    {% endfor %}
    </div>
    




{% endblock %}