{% extends 'base.html' %}

{% load static %}

{% load django_bootstrap5 %}

{% block title %}аккаунт{% endblock %}

{% block content %}


<div class="container-fluid">
    <div class="row">

        <div class="col-4">
            {% if user.user_info.photo == None %}
                <img src="{% static 'user_placeholder.png' %}">
            {% else %}
                <img src="{{ user.user_info.photo }}">
            {% endif %}
        </div>

        <div class="col-8">
            {{ user.username }}
        </div>
    </div>
</div>

{% endblock %}