{% load django_bootstrap5 %}


{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменение пароля</title>
</head>
<body>
    {% if flag == 'get' %}
        <div class="container-fluid text-center">
            <div class="row">
                <h1>Введите новый пароль</h1>
            </div>

            <div class="row text-center">
                <div class="col-6 offset-md-3 gy-4">
                    <form method="post">
                        {% csrf_token %}

                        {% bootstrap_form form %}
                        
                        {% bootstrap_button "сохранить" button_type="submit" button_class="btn-primary" %}
                    
                    </form>
                </div>
            </div> 
        </div>
    {% elif flag == 'success' %}
        <div class="container-fluid text-center">
            <h1 style="margin-top: 5rem;">Пароль успешно изменен, вернитесь на сайт для входа</h1>
        </div>
    {% elif flag == 'token-fail' %}
        <div class="container-fluid text-center">
            <h1 style="margin-top: 5rem;">Токен устарел, запросите новое письмо с сылкой на сайте</h1>
        </div>
    {% elif flag == 'anon' %}
        <div class="container-fluid text-center">
            <h1 style="margin-top: 5rem;">Вы уже изменили пароль, выполните вход на сайте</h1>
        </div>
    {% endif %}
</body>
</html>







