{% load django_bootstrap5 %}


{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменение пароля</title>
</head>
<body style="background-color: #F7F0F5;">
    {% if flag == 'get' %}
    <div class="container">
        <div class="col-5 offset-md-4">
            <h1 class="offset-md-3 mt-5 mb-3">Введите новый пароль</h1>
            <div class="card shadow p-3 mb-5 " style="background-color: #DECBB7; border-color: #DECBB7;">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col mt-1">
                                {% bootstrap_label "Пароль" label_for="password1" label_class='form-label fw-bold' %}
                                {% bootstrap_field form.password1 show_label=False  %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                {% bootstrap_label "Повторите пароль" label_for="password2" label_class='form-label fw-bold' %}
                                
                                {% bootstrap_field form.password2 show_label=False %}
                            </div>
                        </div>
                        <div class="row text-center mt-4">
                            {% bootstrap_form_errors form layout='inline' %}
                        </div>
                        <div class="row text-center">
                            <div class="col mt-4">
                                {% bootstrap_button "изменить" button_type="submit" size='lg' extra_classes='form-btn-primary' %}
                            </div>    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% elif flag == 'success' %}
        <div class="d-flex flex-wrap">
            <div class="col offset-3">
                <div class="card m-4" style="width: 50rem; height: 40rem; border-color: #104911;">
                    <div class="card-header fw-bold" style="background-color: #104911;  height: 3rem; color: white;">system</div>
                    
                    <div class="card-body" style="background-color: #ffffff;">
                        <h1 class="card-title">
                            Пароль изменен
                        </h1>
                        <p class="card-text fs-2">Пользователь изменил пароль, ему ножно совершить вход на <a href="{% url 'account:login' %}" class="text-decoration-none">ToDO</a></p>
                    </div>
                    <div class="card-footer text-muted">
                        {{ now }}
                    </div>
                </div>
            </div>
        </div>
    {% elif flag == 'token-fail' %}
        <div class="d-flex flex-wrap">
            <div class="col offset-3">
                <div class="card m-4" style="width: 50rem; height: 40rem; border-color: #972D07;">
                    <div class="card-header fw-bold" style="background-color: #972D07;  height: 3rem; color: white;">system</div>
                    
                    <div class="card-body" style="background-color: #ffffff;">
                        <h1 class="card-title">
                            Токен устарел
                        </h1>
                        <p class="card-text fs-2">Пользователь совершил попытку изменения пароля по устаревшей ссылке. ему нужно запросить новую на <a href="{% url 'account:login' %}" class="text-decoration-none">ToDO</a></p>
                    </div>
                    <div class="card-footer text-muted">
                        {{ now }}
                    </div>
                </div>
            </div>
        </div>
    {% elif flag == 'anon' %}
        <div class="d-flex flex-wrap">
            <div class="col offset-3">
                <div class="card m-4" style="width: 50rem; height: 40rem; border-color: #104911;">
                    <div class="card-header fw-bold" style="background-color: #104911;  height: 3rem; color: white;">system</div>
                    
                    <div class="card-body" style="background-color: #ffffff;">
                        <h1 class="card-title">
                            Пароль уже изменен
                        </h1>
                        <p class="card-text fs-2">Вы уже закончили процесс изменения пароля, выполните вход на <a href="{% url 'account:login' %}" class="text-decoration-none">ToDO</a></p>
                    </div>
                    <div class="card-footer text-muted">
                        {{ now }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</body>
</html>







