{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}Войти{% endblock %}

{% block content %}

<div class="container">
    <div class="col-4 offset-md-4">
        <h1 class="offset-md-4 mt-5 mb-3">TODO</h1>
        <div class="card shadow p-3 mb-5 " style="background-color: #DECBB7; border-color: #DECBB7;">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col mt-1">
                            {% bootstrap_label "Логин" label_for="username" label_class='form-label fw-bold' %}
                            {% bootstrap_field form.username show_label=False  %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            {% bootstrap_label "Пароль" label_for="password" label_class='form-label fw-bold' %}
                            
                            {% bootstrap_field form.password show_label=False %}
                            <a class="fs-6 text-decoration-none" href="{% url 'account:forgot_password' %}">Забыли пароль?</a>
                        </div>
                    </div>
                    <div class="row text-center mt-4">
                        {% bootstrap_form_errors form layout='inline' %}
                    </div>
                    <div class="row text-center">
                        <div class="col mt-4">
                            {% bootstrap_button "войти" button_type="submit" size='lg' extra_classes='form-btn-primary' %}
                        </div>    
                    </div>
                </form>
            </div>
        </div>
        <h6 class="fw-normal">Нет аккаунтa? <a href="{% url 'account:register' %}" class="text-decoration-none">Зарегистрироватья в ToDO</a></h6>
    </div>
</div>

{% endblock %}