{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}Войти{% endblock %}

{% block content %}

<div class="container text-center">

    <form method="post">
        {% csrf_token %}

        <div class="row justify-content-center">
            <div class="col g-4">
                {% bootstrap_field form.username layout='horizontal' horizontal_label_class='col' horizontal_field_class='col' %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% bootstrap_field form.password layout='horizontal' horizontal_label_class='col' horizontal_field_class='col' %}
            </div>
        </div>

        {% bootstrap_form_errors form layout='inline' %}

        {% bootstrap_button "войти" button_type="submit" size='lg' %}
        <a href="{% url 'account:forgot_password' %}" class="btn btn-primary">забыл пароль</a>

    </form>
</div>

{% endblock %}