{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="container gx-3 text-center">
    
    <form method="post">
        {% csrf_token %}

        <div class="row justify-content-center">
            <div class="col g-4">
                {% bootstrap_field form.username layout='horizontal' size='lg' horizontal_label_class='col' horizontal_field_class='col' %}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col">
                {% bootstrap_field form.email layout='horizontal' size='lg' horizontal_label_class='col' horizontal_field_class='col' %}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col">
                {% bootstrap_field form.password1 layout='horizontal' size='lg' horizontal_label_class='col' horizontal_field_class='col' %}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col">
                {% bootstrap_field form.password2 layout='horizontal' size='lg' horizontal_label_class='col' horizontal_field_class='col' %}
            </div>
        </div>
        
        
        {% bootstrap_form_errors form layout='inline' %}

        {% bootstrap_button "зарегистрироваться" button_type="submit" size='lg' %}
    </form>    

</div>
{% endblock %}